{	"instructions":"Concatenate your password and the adminpasswordsalt, then take the SHA1 Hash, and put it in adminpasswordhash.",
    "in_other_words":"sha1(concat(pw,hash))",
    
	"adminpasswordhash": "HASH GOES HERE",
    "adminpasswordsalt": "2190CASdsad1231!!$#1RASDS",
    
    "instructions2":"For the secret_token, type in a bunch of random letters and numbers.",
    
    "secret_token": "6d824e81d64fc5bd702784c1ef6bac8d7fd42sadsadas5a562bd8d3a7d0a5b3Aed56da2a7c6fbde8cbd25760abcd61d466c1b497864",
    
    "instructions3":"To access the site while under maintenance, list whitelisted IPs here, separated by commas. (Spaces do not matter)",
    "maintenance_ip":"0.0.0.0"
}