<h1 class="blogtitle">Blog</h1><span class="blogdesc">The official blog of Walnut High's National Honor Society.</span></span>
<table cellspacing="0"><tr><td style="width:650px;margin-right:26px;"></td><td style="width:275px;"></td></tr></table>
<p>This will eventually redirect to some other unholy Tumblr page. Right now, it's only a placeholder for whatever I will do in the future.</p>